html {
  color: black;
}

header {
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: gray;

}

/*--------------------------// Logo //----------------------*/
.logo-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  align-items: center;
}

.icon {
  max-width: 15vw;
  max-height: fit-content;
  cursor:pointer;
  margin-bottom: 10vh;
  justify-self: center;

}


.account-icon-container {
  background: radial-gradient(ellipse at center, #a1d3ff  45px,#ffffff00 45px);
  min-width: 60px;

}
.small-icon {
  max-width: 5vw;
  justify-self: center;
  max-height: fit-content;
  margin-bottom: 8vh;
  cursor:pointer;


}
.account-icon {
  max-width: 5vw;
  margin:5vh;
  justify-self: center;
  min-width:60px;
  cursor:pointer;
  max-height: fit-content;

}

